%main_trans{
    transition: all .3s ease-in-out;
}
%slow_trans{
    transition: all .5s ease-in-out;
}
.main_color{
    color: $mainColor;
    font-weight: 500;
}
.sec_head{
    color:#ededed;
    margin-bottom:50px;
    font-weight: 400;
    text-transform: uppercase;
}
.main_bg{
    background-color: #333;
}
.res_padding{
    padding:0
}

form{
    .form-group{
        margin-bottom: 11px;
        label{
            color: white;
            font-weight: 300;
            font-size: 18px;
        }

    }
    .form-control{
        background-color: #1f1f1f;
        border: 1px solid #28a7e9;
        border-radius: 0;
        font-size: 16px;
        padding: 24px 15px;
        &:focus {
            color: #e0e0d9;
            background-color: #1f1f1f;
            border-color: #28a7e9;
            outline: 0;
            box-shadow: none;
        }
    }
}

%icon_box{
    padding: 2px 0;
    text-align: center;
    font-size: 24px;
    border: 1px solid #bebcbc;
    border-radius: 2px;
    height: 44px;
}%title_box {
    line-height: 37px;
    p{
        margin-top: 0px;
    }
}
.typed-cursor{
    display: none;
}
.typed{
    height: 35px;
    color:#ccc
}
::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-thumb {
background-color: $mainColor;
}
