.sec_portfolio .card, .our_things .sec_box, .sec_team .card, .main_nav .navbar-nav .nav-link, .main_nav .bg-light .navbar-brand, .header .navbar-nav .nav-link, .main_btn, .btn_form {
  transition: all 0.3s ease-in-out;
}

.sec_contact .social_media .icon_box, .sec_contact .con_footer_box .icons .icon_box, .sec_contact .con_footer_box .icons, .sec_portfolio .card .card-body, .btn_form {
  transition: all 0.5s ease-in-out;
}

.main_color {
  color: #28a7e9;
  font-weight: 500;
}

.sec_head {
  color: #ededed;
  margin-bottom: 50px;
  font-weight: 400;
  text-transform: uppercase;
}

.main_bg {
  background-color: #333;
}

.res_padding {
  padding: 0;
}

form .form-group {
  margin-bottom: 11px;
}
form .form-group label {
  color: white;
  font-weight: 300;
  font-size: 18px;
}
form .form-control {
  background-color: #1f1f1f;
  border: 1px solid #28a7e9;
  border-radius: 0;
  font-size: 16px;
  padding: 24px 15px;
}
form .form-control:focus {
  color: #e0e0d9;
  background-color: #1f1f1f;
  border-color: #28a7e9;
  outline: 0;
  box-shadow: none;
}

.sec_contact .social_media .icon_box, .sec_contact .con_footer_box .icons .icon_box {
  padding: 2px 0;
  text-align: center;
  font-size: 24px;
  border: 1px solid #bebcbc;
  border-radius: 2px;
  height: 44px;
}

.sec_contact .social_media .title_box, .sec_contact .con_footer_box .icons .title_box {
  line-height: 37px;
}
.sec_contact .social_media .title_box p, .sec_contact .con_footer_box .icons .title_box p {
  margin-top: 0px;
}

.typed-cursor {
  display: none;
}

.typed {
  height: 35px;
  color: #ccc;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #28a7e9;
}

.main_btn, .btn_form {
  padding: 14px 43px;
  border: 1px solid white;
  color: white;
  margin: 20px 0;
  border-radius: 0;
}
.main_btn:hover, .btn_form:hover {
  border: 1px solid #28a7e9;
  background-color: #28a7e9;
  color: white;
}

.btn_form {
  background-color: #28a7e9;
  border: 1px solid #28a7e9;
  width: 100%;
  padding: 10px 0;
}
.btn_form:hover {
  border: 1px solid white;
  background-color: #ffffff00;
  color: white;
}

.header .bg-light {
  background-color: #333 !important;
}
.header .navbar-nav .nav-link {
  color: #ccc;
  font-size: 16px;
}
.header .navbar-nav .nav-link b {
  margin-left: 6px;
  margin-right: 10px;
}
.header .navbar-nav .nav-link:focus, .header .navbar-nav .nav-link:hover {
  color: #28a7e9;
}

.main_nav .bg-light {
  background-color: #fff !important;
}
.main_nav .bg-light .navbar-brand {
  color: #999797;
  font-weight: 400;
}
.main_nav .bg-light .navbar-brand:focus, .main_nav .bg-light .navbar-brand:hover {
  color: rgba(0, 0, 0, 0.9);
}
.main_nav .navbar-nav .active a.nav-link {
  color: #28a7e9;
}
.main_nav .navbar-nav .nav-link {
  color: #abaaaa;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.main_nav .navbar-nav .nav-link b {
  margin-left: 6px;
  margin-right: 10px;
}
.main_nav .navbar-nav .nav-link:focus, .main_nav .navbar-nav .nav-link:hover {
  color: #28a7e9;
}

.main_slideshow {
  background-image: url(../images/slider.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  padding: 160px 0;
}
.main_slideshow h1 {
  color: #fff;
  font-weight: normal;
  font-size: 72px;
}
.main_slideshow h1 span {
  color: #28a7e9;
  font-weight: bold;
}
.main_slideshow a.main_btn, .main_slideshow a.btn_form {
  margin-top: 0;
}

.sec_about {
  padding: 70px;
}
.sec_about .sec_box {
  color: white;
}
.sec_about .sec_box .title_box {
  font-weight: bold;
  font-size: 18px;
  padding: 19px 11px;
}
.sec_about .sec_box .icon_box {
  padding: 12px 14px;
  padding-left: 22px;
  font-size: 27px;
  border: 1px solid #bebcbc;
  border-radius: 2px;
}
.sec_about .sec_box .icon_box.road {
  padding: 12px 16px;
}
.sec_about .sec_box .box_content {
  font-size: 15px;
  padding: 13px 0;
  font-weight: 100;
}

.sec_team {
  padding: 91px 0;
  padding-top: 20px;
}
.sec_team .card {
  color: white;
  border: 1px solid #393737;
}
.sec_team .card:hover {
  opacity: 0.4;
}
.sec_team .card .card-img-top {
  height: 280px;
}
.sec_team .card .card-body {
  color: #acacac;
  background-color: #404040;
  padding: 21px 9px 14px 14px;
}
.sec_team .card .card-body .card-title {
  font-weight: 400;
  font-size: 23px;
  padding: 0px 0px;
  margin-bottom: 0;
  color: #e1e1e1;
}
.sec_team .card .card-body .main_color {
  font-weight: 500;
  font-size: 16px;
}
.sec_team .card .card-body .card-text {
  font-size: 14px;
  margin: 10px 0;
  color: #ccc;
}

.our_things {
  padding: 70px;
}
.our_things .sec_box {
  color: white;
  overflow: hidden;
  padding: 50px 29px;
  padding-right: 17px;
}
.our_things .sec_box:hover {
  background-color: #474747;
}
.our_things .sec_box .title_box {
  font-weight: 500;
  font-size: 16px;
  padding: 22px 12px;
  padding-bottom: 0;
  margin-top: 8px;
}
.our_things .sec_box .icon_box span {
  padding-top: 8px;
  font-size: 50px;
  text-align: center;
  border: 1px solid #bebcbc;
  border-radius: 2px;
  display: block;
  width: 100px;
  height: 100px;
}
.our_things .sec_box .box_content {
  font-size: 15px;
  padding: 13px 0;
  font-weight: 100;
}
.our_things .active {
  background-color: #474747;
}

.sec_portfolio {
  padding: 91px 0;
  padding-top: 20px;
  height: 646px;
}
.sec_portfolio .card {
  color: white;
  border: 0;
  border-radius: 0;
  height: 195px;
  overflow: hidden;
  position: relative;
}
.sec_portfolio .card:hover .card-body {
  opacity: 0.8;
}
.sec_portfolio .card .card-img-top {
  position: absolute;
  height: 195px;
  border-radius: 0;
}
.sec_portfolio .card .card-body {
  opacity: 0;
  position: absolute;
  color: #fefefe;
  background-color: #28a7e9;
  padding: 21px 9px 14px 14px;
  height: 100%;
}
.sec_portfolio .card .card-body .card-title {
  font-weight: 400;
  font-size: 23px;
  padding: 0px 0px;
  margin-bottom: 0;
  color: #e1e1e1;
}
.sec_portfolio .card .card-body .main_color {
  font-weight: 500;
  font-size: 16px;
}
.sec_portfolio .card .card-body .card-text {
  font-size: 14px;
  margin: 10px 0;
  color: #ccc;
}
.sec_portfolio .card .card-body .main_btn, .sec_portfolio .card .card-body .btn_form {
  padding: 5px 24px;
  margin: 6px 0;
  font-size: 14px;
}
.sec_portfolio .card .card-body .main_btn:hover, .sec_portfolio .card .card-body .btn_form:hover {
  border: 1px solid white;
}

.sec_contact {
  background-color: #1f1f1f;
  color: White;
  padding: 80px 0;
}
.sec_contact .con_footer_box {
  padding: 20px 0;
}
.sec_contact .con_footer_box h3 {
  font-weight: bold;
  font-size: 21px;
  padding: 19px 0;
  padding-bottom: 5px;
}
.sec_contact .con_footer_box p {
  color: #8a8989;
  font-size: 16px;
  margin-bottom: 29px;
}
.sec_contact .con_footer_box .icons {
  padding-left: 13px;
  margin-top: 18px;
  overflow: hidden;
  height: 47px;
}
.sec_contact .con_footer_box .icons:hover .icon_box {
  background-color: #28a7e9;
  border-color: #28a7e9;
}
.sec_contact .con_footer_box .icons .title_box p {
  margin-top: 0px;
}
.sec_contact .social_media {
  padding: 22px 0;
}
.sec_contact .social_media .icon_box {
  display: inline-block;
  margin-right: 26px;
}
.sec_contact .social_media .icon_box:hover {
  background-color: #28a7e9;
  border-color: #28a7e9;
}
.sec_contact .social_media .title_box p {
  margin-top: 0px;
}

.footer {
  padding: 20px 0;
}
.footer p {
  margin-bottom: 0;
  color: #ccc;
  font-size: 18px;
}

/*# sourceMappingURL=homepage.css.map */
