.main_slideshow{
    background-image: url(../images/slider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:700px;
    padding:160px 0;
    h1{
        color: #fff;
        font-weight: normal;
        font-size: 72px;
        span{
            color: $mainColor;
            font-weight: bold;
        }
    }
    a.main_btn{
        margin-top:0
    }
}

// Start About Section
.sec_about{
    padding:70px;
    .sec_box{
        color:white;
        .title_box {
            font-weight: bold;
            font-size: 18px;
            padding: 19px 11px;
        }
        .icon_box {
            padding: 12px 14px;
            padding-left: 22px;
            font-size: 27px;
            border: 1px solid #bebcbc;
            border-radius: 2px;
            &.road{
                padding: 12px 16px;
            }
        }
        .box_content{
            font-size: 15px;
            padding: 13px 0;
            font-weight: 100;
        }
    }
}
// End About Sect
// Start sec_team Section
.sec_team{
    padding: 91px 0;
    padding-top: 20px;
    .card{
        color:white;
        border: 1px solid rgb(57 55 55);
        @extend %main_trans;
        &:hover{
            opacity:.4
        }
        .card-img-top{
            height: 280px;
        }
        .card-body{
            color: #acacac;
            background-color: #404040;
            padding: 21px 9px 14px 14px;
            .card-title {
                font-weight: 400;
                font-size: 23px;
                padding: 0px 0px;
                margin-bottom: 0;
                color: #e1e1e1;
            }
            .main_color{
                font-weight: 500;
                font-size: 16px;
            }
            .card-text{
                font-size: 14px;
                margin: 10px 0;
                color: #ccc;
            }
        }
    }
}
// End sec_team Section
// Start our_things Section
.our_things{
    padding:70px;
    
    .sec_box{
        color: white;
        overflow: hidden;
        padding: 50px 29px;
        padding-right: 17px;
        @extend %main_trans;
        &:hover{
            background-color: #474747;
        }
        .title_box {
            font-weight: 500;
            font-size: 16px;
            padding: 22px 12px;
            padding-bottom: 0;
            margin-top: 8px;
        }
        .icon_box span {
            padding-top: 8px;
            font-size: 50px;
            text-align: center;
            border: 1px solid #bebcbc;
            border-radius: 2px;
            display: block;
            width: 100px;
            height: 100px;
            
        }
        .box_content{
            font-size: 15px;
            padding: 13px 0;
            font-weight: 100;
        }
    }
    .active{
        background-color: #474747;
    }
}
// End sec_team Section

// Start PORTFOLIO Section
.sec_portfolio{
    padding: 91px 0;
    padding-top: 20px; 
    height: 646px;
    .card{
        color:white;
        border:0;
        border-radius: 0;
        height: 195px;
        overflow: hidden;
        @extend %main_trans;
        position: relative;
        &:hover{
            .card-body{
                opacity:.8;
            }
        }
        .card-img-top{
            position: absolute;
            height: 195px;
            border-radius: 0;
        }
        .card-body{
            opacity:0;
            position: absolute;
            color: #fefefe;
            background-color: $mainColor;
            padding: 21px 9px 14px 14px;
            height: 100%;
            @extend %slow_trans;
            .card-title {
                font-weight: 400;
                font-size: 23px;
                padding: 0px 0px;
                margin-bottom: 0;
                color: #e1e1e1;
            }
            .main_color{
                font-weight: 500;
                font-size: 16px;
            }
            .card-text{
                font-size: 14px;
                margin: 10px 0;
                color: #ccc;
            }
            .main_btn{
                padding: 5px 24px;
                margin: 6px 0;
                font-size: 14px;
                &:hover{
                    border: 1px solid white;
                }
            }
        }
    }
}
// End sec_team Section

// Start sec_contact
.sec_contact{
    background-color: #1f1f1f;
    color:White;
    padding: 80px 0;
    .con_footer_box{
        padding:20px 0;
        h3{
            font-weight: bold;
            font-size: 21px;
            padding: 19px 0;
            padding-bottom: 5px;
        }
        p{
            color: #8a8989;
            font-size: 16px;
            margin-bottom: 29px;
        }
        .icons{
            padding-left: 13px;
            margin-top: 18px;
            overflow: hidden;
            height: 47px;
            @extend %slow_trans;
            &:hover{
                .icon_box{
                    background-color: #28a7e9;
                    border-color: #28a7e9;
                }
            }
            .icon_box{
                @extend %icon_box;
                @extend %slow_trans;
            }.title_box {
                @extend %title_box;
                p{
                    margin-top: 0px;
                }
            }
            
        }
    }
    .social_media{
        padding: 22px 0;
        .icon_box{
            @extend %icon_box;
            display: inline-block;
            margin-right: 26px;
            @extend %slow_trans;
            &:hover{
                background-color: #28a7e9;
                border-color: #28a7e9;
            }
        }.title_box {
            @extend %title_box;
            p{
                margin-top: 0px;
            }
        }
    }
}
// End sec_contact