.main_btn{
    padding: 14px 43px;
    border: 1px solid white;
    color: white;
    margin: 20px 0;
    border-radius: 0;
    @extend %main_trans;;
    &:hover{
        border: 1px solid $mainColor;
        background-color: $mainColor;
        color:white
    }
}
.btn_form{
    @extend .main_btn;
    background-color: $mainColor;
    border: 1px solid $mainColor;
    width: 100%;
    padding: 10px 0;
    @extend %slow_trans;
    &:hover{
        border: 1px solid white;
        background-color: #ffffff00;
        color:white
    }
}