.header{
    .bg-light {
        background-color: #333!important;
    }
    .navbar-nav .nav-link {
        color: #ccc;
        font-size: 16px;
        @extend %main_trans;
        b{
            margin-left: 6px;
            margin-right: 10px;
        }
        &:focus,
        &:hover {
            color: $mainColor;
        }
    }
}

// Start main_nav
.main_nav{
    .bg-light {
        background-color: #fff!important;
        .navbar-brand {
            color: rgb(153 151 151);
            font-weight: 400;
            @extend %main_trans;
            &:focus, &:hover {
                color: rgba(0,0,0,.9);
            }
        }
    }
    .navbar-nav {
        .active a.nav-link{
            color: $mainColor;
        }
        .nav-link {
            color: #abaaaa;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            @extend %main_trans;
            b{
                margin-left: 6px;
                margin-right: 10px;
            }
            &:focus,
            &:hover {
                color: $mainColor;
            }
        }
    }
}